<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Dodawanie osoby do bazy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    
    
    <body>
        
    
        
    <div id="menu">
        <ul>
            <li><a href="/index.html">Strona glowna</a></li>
            <li><a href="/print_klient">Klienci</a></li>
            <li><a href="/print_pracownik">Pracownicy</a></li>
            <li><a href="/print_ksiazka">Ksiazki</a></li>
            <li><a href="/print_all_zam">Zamowienia</a></li>
            <li><a href="/print_adres">Adresy</a></li>
            <li><a href="/print_koszyk">Koszyk</a></li>
        </ul>
    </div>
        <br/>
        
        
    <div id="info">
    <h3> Dodawanie osoby do bazy:</h3> 
    </div>
        
    <div id="formularz">
    <form th:action="@{/add_klient}"  method="POST" th:object="${transKlient}">

        <div class="form-group">    
            <label> Imie: </label>
            <input required="true" type="text" th:field="${transKlient.imie}" value=""/><br/>             
        </div>       

        <br/>
        
        <div class="form-group">    
            <label> Nazwisko: </label>
            <input type="text" th:field="${transKlient.nazwisko}" value=""/><br/>            
        </div>       

        <br/>
        
        <div class="form-group">    
            <label> E-mail: </label>
            <input type="text" th:field="${transKlient.email}" value=""/><br/>            
        </div>    
        
        <br/>
        
         <div class="form-group">    
                        <label>Adres: </label>
                        <br/>
                        <select class="input" name="adres" title="">
                            <option>Adresy</option>
                            <option  th:each="adres : ${adresList}"
                                     th:value="${adres.id_adresu}"
                                     th:text="${adres.id_adresu}+'. '+${adres.miejscowosc}"></option>                    
                        </select>   
                    </div> 
        <br/>

        <input type="submit" value="Dodaj" />

    </form>
        <br/>
    </div>
    
    <div id="footer">
    <p>&copy Wszelkie prawa zastrzezone. <br /></p>
    </div>



    </body>
</html>
