<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Dodawanie ksiazki do bazy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    
    <body>
        
    <div id="menu">
        <ul>
            <li><a href="/home">Strona glowna</a></li>
            <li><a href="/print_klient">Klienci</a></li>
            <li><a href="/print_pracownik">Pracownicy</a></li>
            <li><a href="/print_ksiazka">Ksiazki</a></li>
            <li><a href="/print_all_zam">Zamowienia</a></li>
            <li><a href="/print_adres">Adresy</a></li>
            <li><a href="/print_koszyk">Koszyk</a></li>
        </ul>
    </div>
    <br/>
    
    <div id="info">
    <h3> Dodawanie ksiazki do koszyka:</h3>
    </div>
    
    <div id="formularz">
    <form th:action="@{/add_koszyk}" method="POST" th:object="${transKoszyk}">

         <div class="form-group">    
                        <label>Ksiazka: </label>
                        <br/>
                        <select class="input" name="ksiazka" title="">
                            <option>Książki</option>
                            <option  th:each="ksiazka : ${ksiazkaList}"
                                     th:value="${ksiazka.id_ksiazki}"
                                     th:text="${ksiazka.nazwa}"></option>                    
                        </select>   
                    </div>   
        
         <br/>
        
        <div class="form-group">    
            <label> Ilość: </label>
            <input type="text" th:field="${transKoszyk.ilosc}" value=""/><br/>            
        </div>       

        <br/>

        <input type="submit" value="Dodaj" />

    </form>
        <br/>
    </div>
    
    <div id="footer">
    <p>&copy Wszelkie prawa zastrzezone. <br /></p>
    </div>



    </body>
</html>
