<!DOCTYPE HTML>
<html>
<head> 
    <title>Ksiegarnia Online</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>     
    <header>
<div id="menu">
        <ul>
            <li><a href="/index.html">Strona glowna</a></li>
            <li><a href="/print_klient">Klienci</a></li>
            <li><a href="/print_pracownik">Pracownicy</a></li>
            <li><a href="/print_ksiazka">Ksiazki</a></li>
            <li><a href="/print_all_zam">Zamowienia</a></li>
            <li><a href="/print_adres">Adresy</a></li>
            <li><a href="/print_koszyk">Koszyk</a></li>
        </ul>
    </div>
    </header>


        <div class="title"></div>
        <div class="form">
            <div class="form-group">

                </br> </br>
                <div id="info">
                <h2>Ksiegarnia Online</h2>
                <h3>Opcje administratora:</h3>
                </div>
                
                <div id="change">

                <a href="/add_klient" class="btnhref">Dodawanie klienta </a> </br> </br>

                <a href="/add_pracownik" class="btnhref">Dodawanie pracownika </a> </br> </br>

                <a href="/add_ksiazka" class="btnhref">Dodawanie ksiazki </a> </br> </br>

                <a href="/add_zam" class="btnhref">Dodawanie zamowienia </a> </br> </br>
                
                <a href="/print_klient" class="btnhref">Wypisywanie wszystkich klientow </a> </br> </br>      

                <a href="/print_pracownik" class="btnhref">Wypisywanie wszystkich pracownikow </a> </br> </br>       

                <a href="/print_ksiazka" class="btnhref">Wypisywanie wszystkich ksiazek </a> </br> </br>

                <a href="/print_all_zam" class="btnhref">Wypisywanie wszystkich zamowien </a> </br> </br>
                
                <a href="/print_koszyk" class="btnhref">Wyswietl koszyk </a> </br> </br>
                
                </div>
                
                        <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout" />
        </form>
            </div>
            
        </div>
        
        

</body>
</html>
