<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >    
<head> 
    <title>Ksiegarnia Online</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>  
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>     
    <header>
<div id="menu">
        <ul>
            <li><a href="/client"><img src="glowna.png" /> Strona glowna</a></li>
            <li><a href="/print_ksiazka"><img src="ksiazki.png" /> Ksiazki</a></li>
            <li><a href="/print_all_zam"><img src="zamowienia.png" /> Zamowienia</a></li>
            <li><a href="/print_koszyk"><img src="koszyk.png" /> Koszyk</a></li>
            
        </ul>
    </div>
    </header>


		<div class="form">
        <div class="form-group">
			
                </br> </br>
				
		<div id="info">
		<h2>Opcje dla uzytkownika:</h2>
		</div>
				
		<div id="option">

                <a href="/print_ksiazka" class="btnhref">Wypisywanie wszystkich ksiazek </a> </br> </br>

                <a href="/print_all_zam" class="btnhref">Wypisywanie wszystkich zamowien </a> </br> </br>
                
                <a href="/print_koszyk" class="btnhref">Wyswietl koszyk </a> </br> </br>
				
		</div>
                
            </div>
            
            <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout" />
        </form>
        </div>

</body>
</html>
