<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Powitanie</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    
    <body>
        <div id="info">
        <h2>Witamy w naszej firmie!</h2>
        </div>
        
        <div id="home">
            <p>Przegladaj jako gosc <a th:href="@{/index.html}">tutaj</a>.

        </p>   
        <p>Strona klienta <a th:href="@{/client}">tutaj</a>.</p>
        
        <p/>

        <p>Strona pracownika <a th:href="@{/staff}">tutaj</a>.
        
        </p>
        
        <p>Strona administratora <a th:href="@{/admin}">tutaj</a>.
        
        </p>
        
        </div>
        
        <p/><p/>
        
        <div id="footer"
        
                
        <footer>
            <p>&copy; 2020 Ksiegarnia S.A.</p>
        </footer>
           
        </div>


    </body>
</html>