<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >    
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> 
        <link rel="stylesheet" type="text/css" href="style.css" />        
        <title>Koszyk</title>               
    </head>
    
    
    <body>
      
    <div id="menu">
        <ul>
            <li><a href="/index.html">Strona glowna</a></li>
            <li><a href="/print_klient">Klienci</a></li>
            <li><a href="/print_pracownik">Pracownicy</a></li>
            <li><a href="/print_ksiazka">Ksiazki</a></li>
            <li><a href="/print_all_zam">Zamowienia</a></li>
            <li><a href="/print_adres">Adresy</a></li>
            <li><a href="/print_koszyk">Koszyk</a></li>
        </ul>
    </div>
            
            <div class="container">
            <div class="table-responsive">
                <table id="tbl" class="table table-bordered"> 

                    <thead>
                        
                        <tr  class="active">
                            <th><h1>Nazwa</h1></th> 
                            <th><h1>Cena</h1></th> 
                            <th><h1>Ilosc</h1></th>  
                            <th><h1>Razem</h1></th>
                            <th><h1>Usuwanie</h1></th> 
                        </tr>
                        
                        
                    </thead>
                    <tbody th:with="totalPrice=0">                       
                        <tr th:each ="koszyk : ${koszykList}">               
        
                            <td> <b  th:utext="${koszyk.ksiazka.nazwa}">...</b> </td>
                            <td> <b  th:utext="${koszyk.ksiazka.cena}">...</b> </td>
                            <td> <b  th:utext="${koszyk.ilosc}">...</b> </td>
                            <td> <b  th:utext="${koszyk.ksiazka.cena * koszyk.ilosc}">...</b> </td>
                            <td align="center"> <a th:href="@{'/delete_koszyk/' + ${koszyk.id_koszyka}}" class="buttonUsun">Usuń</a> </td>  
                        </tr>
                        <tr>
                            <td colspan="3" align="right"><b>Do zaplaty</b></td>
                            
                            <td> <b th:text="${#aggregates.sum(koszykList.![ksiazka.cena * ilosc])}" /> <b>zł</b> </td>
                            
                        </tr>
                        
                    </tbody>          
                </table>  
                <a href="/add_zam" class="buttonEdytuj">Zloz zamowienie</a>
            </div>
            </div>
        <input type="button" class="buttonExport" value="Stwórz raport" onclick="Export()" />


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementById('tbl'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Raport.pdf");
                }
            });
        }
    </script>
            
</body>
</html>